@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-black-1: #020b18;
  --color-black-5: #171718;

  --color-header-border: rgba(37, 37, 37, 0.16);
  --color-header-border-dark: rgba(255, 255, 255, 0.2);
  --color-header-toggle: rgba(37, 37, 37, 0.1);
  --color-header-toggle-dark: rgba(255, 255, 255, 0.3);

  --font-sans: var(--font-dm-sans), sans-serif;
  --font-serif: var(--font-eb-garamond), serif;
}
